@font-face {
    font-family: 'hebreo-rubrica-triangular';
    src: url(../assets/fonts/Rubik_Doodle_Triangles/RubikDoodleTriangles-Regular.ttf);
}
@font-face {
    font-family: 'hebreo-fina';
    src: url(../assets/fonts/Noto_Sans_Gunjala_Gondi/NotoSansGunjalaGondi-VariableFont_wght.ttf);
}